*.go           text eol=lf
*.md           text eol=lf
*.txt          text eol=lf
.gitignore     text eol=lf
.gitattributes text eol=lf
COPYING        text eol=lf
go.mod         text eol=lf
go.sum         text eol=lf
